body {
  width: 70%;
  margin:0 auto ;
    background-color:#FADAD7 ;
    line-height: 25px;
    font-size: 17px;
    padding-left: 20px;
    border-left: 2px solid black;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.bacon-info {
    background: ;
    color: ;
}

.bacon-answer {
    color: ;
    font-family: "Times New Roman";
}
h2
{
text-align: center;
}
